<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="logstash-log" class="ch.qos.logback.core.FileAppender">

        <file>/rgec/log/autodeploy/java/test-demo/logstash.log</file>

        <append>true</append>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %d %p (%file:%line\)- %m%n
            </pattern>
        </encoder>


    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="logstash-log" />
    </root>

</configuration>